@mixin reset-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

@mixin ds-reset-a {
  text-decoration: none;
  cursor: pointer;
}

@mixin reset-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
